documentation/assets
documentation/fonts
documentation/infosec-final.aux
documentation/infosec-final.log
documentation/infosec-final.out
documentation/infosec-final.synctex.gz

ecommerce-text-classification/