documentation/assets
documentation/fonts
documentation/project_text_classification.aux
documentation/project_text_classification.log
documentation/project_text_classification.out
documentation/project_text_classification.synctex.gz

ecommerce-text-classification/